In [1]:
class STUDENT:
    def __init__(self):
        self.student_name = "Mohamed gamal"
        self.Student_age = 35
        self.student_grade = 3.99
        self.student_gender = "male"

    def student_info(self):
        print(f"My name is : {self.student_name}")
        print(f"My age is: {self.Student_age}") 
        print(f"My grade : {self.student_grade}")
        print(f"My gender : {self.student_gender}")

s1 = STUDENT()
s1.student_info()

My name is : Mohamed gamal
My age is: 35
My grade : 3.99
My gender : male

In [2]:

#class Calculator take two numbers and perform addition and subtraction
# and print the results
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        return self.num1 + self.num2
    def subtract(self):
        return self.num1 - self.num2



num1 = int(input("Enter first number: "))   # Input first numbers from the user 
num2 = int(input("Enter second number: "))  # Input second numbers from the user 

c1 = Calculator(num1, num2)    # inherits the class Calculator
c1.add()                        # performs addition
c2 = Calculator(num1, num2)
c2.subtract()
print (f"Addition of {num1} and {num2} is: {c1.add()}")
print (f"Subtraction of {num1} and {num2} is: {c2.subtract()}")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
from abc import ABC, abstractmethod

class Animal (ABC):
    @abstractmethod
    def move(self):
        pass

class Bird(Animal):
    def move(self):
        print("I can fly")

class Cat(Animal):
    def move(self):
        print("I can run")

a = Bird()
a.move()

In [ ]:
class A():
    def do_this(self):
        print("A is doing this")

class B(A):
    pass

class C():
    def do_this(self):
        print("C is doing this")

class D(B, C):
    pass

d = D()
x = d.do_this()

In [ ]:
import random
class password_generator:
    def __init__(self, length):
        self.length = length

    def generate(self):
        characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()"
        password = ""

        for _ in range(self.length):
            password += random.choice(characters)
        return password
    
if __name__ == "__main__":
    p1 = password_generator(10)  # Create an instance with desired length
    p1.generate()  # Generate the password
    print(f"Generated password: {p1.generate()}")  # Print the generated password

In [ ]:
class WordFrequencyCounter:

    def __init__(self, words):
    
        self.words = words

    def count_frequencies(self):
    
        freq_dict = {}
        for word in self.words:
            if word in freq_dict:
                freq_dict[word] += 1
            else:
                freq_dict[word] = 1
        return freq_dict
if __name__ == "__main__":
    
    words = ["Welcome", "Ali", "Hi", "Ali", "No", "Hi", "No", "Ali", "No", "Ali"]
    
    counter = WordFrequencyCounter(words)
    result = counter.count_frequencies()

    for word, count in result.items():
        print(f"{word}: {count}")

In [ ]:
def count_word_frequencies(words):
    freq_dict = {}
    for word in words:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    return freq_dict

words = ["Welcome", "Ali", "Hi", "Ali", "No", "Hi", "No", "Ali", "No", "Ali"]
unique_words = set(words)
counts = {word: words.count(word) for word in unique_words}
for word in unique_words:
    print(f"{word}: {counts[word]}")

In [ ]:

def count_word_frequencies(words):

    freq_dict = {}
    for word in words:
        freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict

words = ["Welcome", "Ali", "Hi", "Ali", "No", "Hi", "No", "Ali", "No", "Ali"]

counts = count_word_frequencies(words)

for word in sorted(counts):
    print(f"{word}: {counts[word]}")

In [ ]:
class WordFrequencies:
    def __init__(self, words):
        self.words = words

    def count_word_frequencies(self):
        freq_dict = {}
        for word in self.words:
            freq_dict[word] = freq_dict.get(word, 0) + 1
        return freq_dict

    def display_frequencies(self):
        counts = self.count_word_frequencies()
        for word in sorted(counts):
            print(f"{word}: {counts[word]}")

if __name__ == "__main__":
    words = ["Welcome", "Ali", "Hi", "Ali", "No", "Hi", "No", "Ali", "No", "Ali"]
    wf = WordFrequencies(words)
    wf.display_frequencies()

In [ ]:
import random

# Predefined responses
responses = {
    "hello": ["Hello!", "Hi there!", "Greetings!"],
    "how are you": ["I'm doing well, thank you!", "I'm fine, how about you?"],
    "goodbye": ["Goodbye!", "See you later!", "Farewell!"],
    "default": ["I'm sorry, I didn't understand.", "Could you please rephrase that?"]
}

# Function to get a response based on user input
def get_response(user_input):
    for key in responses:
        if key in user_input:
            return random.choice(responses[key])
    
    return random.choice(responses["default"])

# Chatbot function
def chatbot():
    print("Chatbot: Hi! How can I assist you today?")
    
    while True:
        user_input = input("User: ").lower()
        response = get_response(user_input)
        print("Chatbot:", response)
        
        if user_input == "goodbye":
            break

# Run the chatbot
chatbot()

In [ ]:
import random

class ChatBot:
    def __init__(self):
        self.responses = {
            "hello": ["Hello!", "Hi there!", "Greetings!"],
            "how are you": ["I'm good, thanks!", "Doing well, and you?"],
            "goodbye": ["Goodbye!", "See you!", "Take care!"],
            "default": ["I didn't get that.", "Could you repeat it?"]
        }

    def get_response(self, user_input):
        user_input = user_input.lower()
        for key in self.responses:
            if key in user_input:
                return random.choice(self.responses[key])
        return random.choice(self.responses["default"])

    def start(self):
        print("Chatbot: Hello! Type 'goodbye' to exit.")
        while True:
            user_input = input("You: ")
            response = self.get_response(user_input)
            print("Chatbot:", response)
            if "goodbye" in user_input.lower():
                break


bot = ChatBot()
bot.start()

In [ ]:
import numpy as np

# Example usage of numpy
v1 = np.array([1, 2, 3])
v2 = np.array([4, 5, 6])
print(v1)
print(v2)

In [ ]:
list_1 = [1, 2, 3] 
print(type(list_1)) # check type of list_1
# Convert list_1 to a numpy array
x = np.array(list_1) 
print(type(x))

In [ ]:
v1 = np.array([1, 2, 3])
v2 = np.array([4, 5, 6])
w= v1 * v2  # Add two numpy arrays
print(w)  # Print the result of the addition

In [ ]:
import numpy as np

In [ ]:
s= np.array(5)  # Create a numpy array with a single element
print (type(s))  # Check the type of the numpy array
print("D", s.ndim)  # Print the number of dimensions
print(s)  # Print the numpy array

In [ ]:
v= np.array([1, 2, 3])
print(type(v))  # Check the type of the numpy array
print(v.shape)  # Print the shape of the numpy array
v

In [ ]:
m= np.array([[1, 2, 3],
            [4, 5, 6]
            ])
print(type(m))  # Check the type of the numpy array
print(m.ndim , "D")  # Print the number of dimensions
print(m.shape)  # Print the shape of the numpy array
print(m)  # Print the numpy array

In [ ]:
vec_1 = np.array([1, 2, 3, 4 ,5 , 6])  
matrix_1 = vec_1.reshape(3,2)  # Reshape the vector into a 2x3 matrix
print(matrix_1)  # Print the reshaped matrix
print(type(matrix_1))  # Check the type of the reshaped matrix

In [ ]:
vec_2 = np.array([1, 2, 3, 4 ,5 ])
matrix_3 = vec_2.reshape(vec_2.shape[0],1)  
print(matrix_3)

In [ ]:
vec_2 = np.array([1, 2, 3, 4 ,5 ])
#matrix_3 = vec_2.reshape(vec_2.shape[0],1)  
matrix_4 = vec_2[:, None]  # Reshape the vector into a column vector
print(matrix_4)

In [ ]:
m_1 = np.array([[1, 2, 3],
                [4, 5, 6],
                [7,8,9]
                ])

print(m_1.dtype)  # Check the type of the numpy array

In [ ]:
m_1 = np.array([[1, True, 3],
                [4, 5, 6],
                [7,8,9]
                ])

print(m_1.dtype)  # Check the type of the numpy array

In [ ]:
class student:
    def __init__(self, name):
        self.name = name

s = student("Mohamed Gamal")
m_1 = np.array([[1, True, s.name],
                [4, 5, 6],
                [7,8,9]
                ])

print(m_1.dtype) 
print(m_1)  # Print the numpy array with mixed data types

In [ ]:
m = np.array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [0,0,0]
        ])  # indexing example [1 ,2 , 3] = index 0 

m[1,2]

In [ ]:
m = np.array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [0,0,0]
        ])  # indexing example [1 ,2 , 3] = index 0 

m[1,-2]

In [ ]:
v_3 = np.array([3,2,5,1,2,3,0])
v_3[2:6]  # Slicing the array to get elements from index 2 to 4

In [ ]:
m = np.array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [0,0,0]
        ])

m[1:3 , 0:2]  # Slicing the array to get rows 1 to 2 and columns 0 to 1

In [ ]:
m = np.array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [0,0,0]
        ])

m[-3:-1 , -3:-1]  # Slicing the array to get rows 1 to 2 and columns 0 to 1

In [ ]:
m = np.array([[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [0,0,0]
        ])

mat_t = m.T  # Transpose the matrix
print(mat_t)  # Print the transposed matrix

In [ ]:
mat = np.zeros((3, 4))  # Create a 2x3 matrix filled with zeros
mat

In [ ]:
mat = np.ones((3, 4))  # Create a 2x3 matrix filled with zeros
mat

In [ ]:
mat = np.full((3, 4), 5)  # Create a 3*4 matrix filled with fives
print(mat)  # Print the matrix filled with fives

In [ ]:
mat = np.empty((3, 4))  # Create an empty matrix with shape 3x4
print(mat)  # Print the empty matrix

In [ ]:
angles = np.arange(0,361,30)  # Create a numpy array with angles
print(angles)  # Print the numpy array with angles

In [ ]:
vec = np.linspace(0, 10, num = 10)  # Create a numpy array with evenly spaced values
print(vec)  # Print the numpy array with evenly spaced values

In [ ]:
iden = np. identity(3,)      # Create a 3x3 identity matrix
print(iden)  # Print the identity matrix

In [ ]:
vec = np.linspace(0, 10, num = 25)  # Create a numpy array with evenly spaced values
mat = vec.reshape(5, 5)  # Reshape the vector into a 5x5 matrix
print(mat)  # Print the numpy array with evenly spaced values

In [ ]:
np. random.random((3, 4))  # Create a 3x4 matrix with random values
print(np.random.random((3, 4)))  # Print the random matrix

In [ ]:
import numpy as np

In [ ]:
mat_1 = np.ones((3, 4))  # Create a 3x4 matrix filled with ones
print(mat_1)  # Print the matrix filled with ones   
mat_2 = np.zeros((4, 4))  # Create another 3x4 matrix filled with ones
print(mat_2)  # Print the second matrix filled with ones

np.savez("C:/Users/Mgama/Ai_Amit_Diploma/images.npz" , ones_mat = mat_1 , zeros_mat = mat_2)  # Save the matrices to a .npz file

In [ ]:
with np.load("C:/Users/Mgama/Ai_Amit_Diploma/images.npz") as file:  # Load the saved matrices from the .npz file
    mat_1 = file['ones_mat']  # Access the matrix filled with ones
    mat_2 = file['zeros_mat']  # Access the matrix filled with zeros
    print(mat_1)  # Print the loaded matrix filled with ones
    print(mat_2)  # Print the loaded matrix filled with zeros

In [ ]:
m_1 = np.array([[1, 2, 3],
                [0, 0, 0]])
m_2 = np.array([[4, 5, 6],
                [1, 1, 1]])

v_mat = np.vstack((m_1, m_2))  # Stack the two matrices vertically
print(v_mat)  # Print the vertically stacked matrix

In [ ]:
m_1 = np.array([[1, 2, 3],
                [0, 0, 0]])
m_2 = np.array([[4, 5, 6],
                [1, 1, 1]])

v_mat = np.hstack((m_1, m_2))  # Stack the two matrices vertically
print(v_mat)  # Print the vertically stacked matrix

In [ ]:
s = 4
v= np.array([1, 2, 3, 4, 5])  # Create a numpy array with values from 1 to 5
v == s  # Check if the elements of the array are equal to 4

In [ ]:
v1 = np.array([1, 3, 3])
v2 = np.array([4, 3, 4])
v1 == v2  # Check if the two arrays are equal element-wise

In [ ]:
m_1 = np.array([[1, 2, 3],
                [0, 0, 0]])
m_2 = np.array([[4, 2, 6],
                [1, 0, 1]])
m_1 == m_2  # Check if the two matrices are equal element-wise

In [ ]:
v = np.array([1, 2, 3, 4, 5])
np.all(v>1)  # Check if all elements of the array are greater than 1

In [ ]:
v = np.array([1, 2, 3, 4, 5])
np.any(v>1)  # Check if any elements of the array are greater than 1

In [ ]:
v1 = np.array([1, 2, 1 ,4, 5])
v2 = np.array([2, 4, 0 ,6, 3])
np.isclose(v1, v2 , atol= 1)  # Check if the two arrays are close to each other element-wise

In [ ]:
v1 = np.array([1, 2, 1 ,1, 1])
v2 = np.array([1, 1, 1 ,1, 1])
np.allclose(v1, v2 , atol= 1)  # Check if the two arrays are close to each other element-wise

In [ ]:
v = np.array([1, 2, 3, 4, 5])
condition = v >= 4
print(condition)  # Print the boolean array where elements are greater than or equal to 4

In [ ]:
v = np.array([1, 2, 3, 4, 5])
condition = v >= 4
print (condition)  # Print the boolean array where elements are greater than or equal to 4
condition_access = v[condition]  # Access the elements of the array that satisfy the condition
print(condition_access)  # Print the elements of the array that satisfy the condition

In [ ]:
v = np.array([1, 2, 3, 4, 5])
condition = v >= 4
print (condition)  # Print the boolean array where elements are greater than or equal to 4
v[condition]  = -1 # 
print (v)  # Print the modified array where elements greater than or equal to 4 are set to -1

In [ ]:
v = np.array([1, 2, 3, 4, 5])
condition = v >= 4
n_condition = np.where(condition, -1, v)  # Set elements greater than or equal to 4 to -1
print(n_condition)  # Print the modified array where elements greater than or equal to 4

In [ ]:
pip install pandas # Install pandas library

In [ ]:
import pandas as pd  # Import pandas library

In [ ]:
s = pd.Series([1, 2, 3, 4])  # Create a pandas Series with values from 1 to 5

print(s)  # Print the pandas Series

In [ ]:
s = pd.Series([1, 2, 3, 4], index=["A","b", "c","D"]) # create a pandas Series with custom index
print(s)  # Print the pandas Series with custom index

In [ ]:
data_1 = [[1,111,'Ahmed'],
            [2,222,'Ali'],
            [3,333,'Mohamed'],
            [4,444,'Gamal']
            ]

type(data_1)  # Check the type of data_1, which should be a list of lists
df = pd.DataFrame(data_1, columns=["Index", "ID", "Name"])  # Create a pandas DataFrame from the list of lists
print(df)  # Print the pandas DataFrame

In [ ]:
data_2 ={"s1" : [10 ,11, 17, 9],
            "s2" : [10 ,12, 15, 10],
            "s3" : ['math', 'science', 'english', "arabic"]}
df2 = pd.DataFrame(data_2)  # Create a pandas DataFrame from the dictionary
print(df2)  # Print the pandas DataFrame created from the dictionary

In [ ]:
display(df2)  # Display the DataFrame in a Jupyter Notebook or similar environment

In [ ]:
class name :
    def __init__(self, name: str):
        self.name = name

    @property
    def info(self):
        """Return the name of the instance."""
        return self.name  # Return the name of the instance

In [ ]:
name = name("Mohamed Gamal")  # Create an instance of the class with a name
print(name.info)  # Print the name of the instance using the info property

In [ ]:
data_1 = [[1,111,'Ahmed'],
            [2,222,'Ali'],
            [3,333,'Mohamed'],
            [4,444,'Gamal']
            ]

df = pd.DataFrame(data_1, columns=["Index", "ID", "Name"])  # Create a pandas DataFrame from the list of lists
df["ID"]

In [ ]:
data_1 = [[1,111,'Ahmed'],
            [2,222,'Ali'],
            [3,333,'Mohamed'],
            [4,444,'Gamal']
            ]

df = pd.DataFrame(data_1, columns=["Index", "ID", "Name"])  # Create a pandas DataFrame from the list of lists
df['Name'] = df['Name'].astype("category")  # Convert the 'Name' column to cataegory type
df.dtypes

In [ ]:
# EDA Exploratory data analysis
df.head()  # Display the first few rows of the DataFrame

In [ ]:
df.tail(1)  # Display the last few rows of the DataFrame

In [ ]:
df.describe()  # Display summary statistics of the DataFrame

In [ ]:
df.describe(include='category')  # Display summary statistics of the DataFrame including all data types

In [ ]:
df.columns  # Display the columns of the DataFrame

In [ ]:
df['Name'].unique()  # Display unique values in the 'Name' column

In [ ]:
df['ID'].max()  # Display the maximum value in the 'ID' column

In [ ]:
df['ID'].min()  # Display the min value in the 'ID' column

In [ ]:
df['ID'].idxmin()

In [ ]:
df.info()  # Display information about the DataFrame including data types and non-null counts

In [ ]:
d = df["ID"].value_counts()  # Count the occurrences of each value in the 'ID' column
d  # Display the value counts of the 'ID' column

In [ ]:
d = df["ID"].sum()  # sum the values in the 'ID' column
d  # Display the value counts of the 'ID' column

In [ ]:
df.values  # Display the values of the DataFrame

In [ ]:
df.replace(111, 'Jimmy')  # Replace the value 111 with 'Jimmy' in the DataFrame

In [ ]:
df.replace({333:"Youssef" , 444 : "Ahmed"})  # Replace multiple values in the DataFrame

In [ ]:
df

In [ ]:
def duplicate(x):
    """Function to duplicate a value."""
    return x * 2  # Return the duplicated value
df['Index'].apply(duplicate)  # Apply the duplicate function to the 'ID' column

In [ ]:
def duplicate(x):
    """Function to duplicate a value."""
    return x * 2  # Return the duplicated value
df['Index'].apply(lambda x :x*2)  # Apply a lambda function to duplicate the values in the 'ID' column

In [ ]:
df.ID.iloc[0]  # Access the first element of the 'ID' column using iloc

In [ ]:
df

In [ ]:
df.iloc[:,0:3]  # Access the first element of the 'ID' column using iloc

In [ ]:
T = df.iloc[:,0:2]  # Access the first column of the DataFrame using iloc
O = df.iloc[:,2:3]  # Access the second column of the DataFrame using iloc
print(T)  # Print the first column of the DataFrame
print(O)  # Print the second column of the DataFrame

In [ ]:
data_1 = [[1,111,'Ahmed'],
            [2,222,'Ali'],
            [3,333,'Mohamed'],
            [4,444,'Gamal']
            ]

df = pd.DataFrame(data_1, columns=["Index", "ID", "Name"])  # Create a pandas DataFrame from the list of lists
df['Name'] = df['Name'].astype("category")  # Convert the 'Name' column to cataegory type
new_co = df.Index + df.ID
new_co  # Display the new column created by assigning 'ID' to 'Index'

In [ ]:
data_1 = [[1,111,'Ahmed'],
            [2,222,'Ali'],
            [3,333,'Mohamed'],
            [4,444,'Gamal']
            ]

df = pd.DataFrame(data_1, columns=["Index", "ID", "Name"])  # Create a pandas DataFrame from the list of lists
df['Name'] = df['Name'].astype("category")  # Convert the 'Name' column to cataegory type
df

In [ ]:
new_co = df.Index + df.ID  # Create a new column by adding 'Index' and 'ID'
new_co  # Display the new column created by assigning 'ID' to 'Index'

In [ ]:
df.insert(3, "New_Column", new_co)  # Insert the new column into the DataFrame at index 3
df  # Display the DataFrame with the new column inserted

In [ ]:
df.drop("New_Column", axis=1 , inplace= True)  # Drop the 'new_co' column from the DataFrame
df  # Display the DataFrame after dropping the 'new_co' column

In [ ]:
#to read table from linke or you can put the path of your own tabl
data=pd.read_table('http://bit.ly/movieusers')
data.head()  # Display the first few rows of the DataFrame read from the link

In [ ]:
data=pd.read_table('http://bit.ly/movieusers', sep='|')  # Read the table from the link with a comma as the separator
data  # Display the first few rows of the DataFrame read from the link

In [ ]:
data=pd.read_table('http://bit.ly/movieusers', sep='|', header= None)  # Read the table from the link with a comma as the separator
data.head()  # Display the first few rows of the DataFrame read from the link

In [ ]:
header_colums = ['Index' , 'age', 'gander', 'dept', 'Id']
data=pd.read_table('http://bit.ly/movieusers', sep='|', header= None , names=  header_colums)  # Read the table from the link with a comma as the separator
data.head()  # Display the first few rows of the DataFrame read from the link

In [ ]:
user_info=pd.read_csv('http://bit.ly/uforeports')
user_info.head(10)  # Display the first few rows of the DataFrame read from the link

In [ ]:
user_info.City.head(10)  # Display the first few rows of the 'City' column in the DataFrame

In [ ]:
user_info['Colors Reported'].head()  # Display the first few rows of the 'Colors Reportedcolors' column in the DataFrame

In [ ]:
user_info.shape  # Display the shape of the DataFrame

In [ ]:
user_info.City + ' ' + user_info.State

In [ ]:
user_info['location'] = user_info.City + ' ' + user_info.State
user_info.head()  # Display the first few rows of the DataFrame with the new 'location' column

In [ ]:
user_info.to_csv("new_data.csv") # Save the DataFrame to a CSV file named "new_data.csv"

In [ ]:
new_file = pd.read_csv("new_data.csv")  # Read the newly created CSV file
new_file.head()  # Display the first few rows of the newly created CSV file

In [ ]:
new_file.head(20)  # Display the first 20 rows of the newly created CSV file
new_file.tail(20)  # Display the last 20 rows of the newly created CSV

In [ ]:
new_file.tail()  # Display the last row of the newly created CSV file

In [ ]:
new_file.describe()

In [ ]:
new_file.describe(include= 'object')

In [ ]:
new_file [0:10] # Display the first 10 rows of the newly created CSV file

In [ ]:
new_file . columns  # Display the columns of the newly created CSV file

In [ ]:
new_file.info()  # Display information about the newly created CSV file including data types and non-null counts

In [ ]:
new_file .head(2)  # Display the first few rows of the newly created CSV file

In [ ]:
new_file.rename(columns ={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'} , inplace = True)  # Rename the 'Colors Reported' column to 'col' in the newly created CSV file
new_file.head()  # Display the first few rows of the newly created CSV file

In [ ]:
new_file.columns = new_file.columns.str.replace(' ', '_')  # Replace spaces in column names with underscores
new_file.head(2)  # Display the first few rows of the newly created CSV file with updated column names

In [ ]:
new_file.drop(['Colors_Reported' , 'City'] , axis=1 , inplace=True)  # Drop the 'Colors Reported' and 'City' columns from the newly created CSV file
new_file.head(2)  # Display the first few rows of the newly created CSV file with updated column names

In [ ]:
new_file.drop([0,1,2], axis=0, inplace=True)  # Drop the first three rows from the newly created CSV file
new_file.head(2)  # Display the first few rows of the newly created CSV file

In [ ]:
movies=pd.read_csv('http://bit.ly/imdbratings')  # Read the IMDb ratings CSV file into a pandas DataFrame

In [ ]:
movies.head()  # Display the first few rows of the IMDb ratings DataFrame

In [ ]:
movies.title.sort_values(ascending=False)  # Sort the 'title' column in the IMDb ratings DataFrame by alphabet

In [ ]:
movies.sort_values('title')

In [ ]:
movies.sort_values(['content_rating','duration' ])

In [ ]:
bol = []
for length in movies.duration:
    if length > 200:
        bol.append(True)
    else:
        bol.append(False)

bol [0:10]  # Display the first 10 boolean values indicating whether the movie duration is greater than 200 minutes

In [ ]:
movies.loc[movies.duration > 200, 'genre']  # Display the titles of movies with a duration greater than 200 minutes

In [ ]:
movies.loc[(movies.duration > 200) & (movies.genre == "Drama")]  # Display the titles of movies with a duration greater than 200 minutes

In [3]:
import numpy as np  # Import the NumPy library for numerical operations.
import pandas as pd  #  Import the pandas library for data manipulation and analysis.
import seaborn as sns  # Import the seaborn library for data visualization.
import matplotlib.pyplot as plt # Import the matplotlib library for creating static, interactive, and animated visualizations.
import warnings  # Import the warnings library to handle warning messages.
warnings.filterwarnings("ignore")  # Ignore warning messages to keep the output clean.

In [4]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(['PassengerId','Name','Ticket'] , axis=1, inplace=True)  # Drop the specified columns from the DataFrame
df.head()  # Display the first few rows of the DataFrame after dropping the specified columns

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [6]:
df.dtypes  # Display the data types of each column in the DataFrame

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [7]:
dtypes = df.dtypes  # Store the data types of each column in a variable
n_uniq = df.nunique()  # Count the number of unique values in each column
n_uniq  # Display the number of unique values in each column

Survived      2
Pclass        3
Sex           2
Age          88
SibSp         7
Parch         7
Fare        248
Cabin       147
Embarked      3
dtype: int64

In [8]:
dtypes = df.dtypes  # Store the data types of each column in a variable
n_uniq = df.nunique()  # Count the number of unique values in each column
pd.DataFrame({'dtypes': dtypes, 'n_uniq': n_uniq}) .T  # Create a new DataFrame with the data types and number of unique values of each column

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
dtypes,int64,int64,object,float64,int64,int64,float64,object,object
n_uniq,2,3,2,88,7,7,248,147,3

In [9]:
def dtypes_and_unique(df):
    dtypes = df.dtypes  # Store the data types of each column in a variable
    n_uniq = df.nunique()  # Count the number of unique values in each column
    
    return pd.DataFrame({'dtypes': dtypes, 'n_uniq': n_uniq}) .T  # Create a new DataFrame with the data types and number of unique values of each column

In [10]:
dtypes_and_unique(df)  # Call the function to get the data types and number of unique values of each column in the DataFrame

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
dtypes,int64,int64,object,float64,int64,int64,float64,object,object
n_uniq,2,3,2,88,7,7,248,147,3

In [11]:
from preprocess import dtypes_and_unique  # Import the dtypes_and_unique function from the preprocessing module

dtypes_and_unique(df)  # Call the function to get the data types and number of unique values of each column in the DataFrame

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
dtypes,int64,int64,object,float64,int64,int64,float64,object,object
n_uniq,2,3,2,88,7,7,248,147,3

In [12]:
cols = ['Survived', 'Pclass', 'Sex', 'SibSp','Parch','Embarked' ]   # List of columns to be converted to categorical data type
df[cols] = df[cols].astype('category')  # Convert the specified columns to categorical data type
pd.DataFrame(df.dtypes) .T # Display the data types of all columns in the DataFrame

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,category,category,category,float64,category,category,float64,object,category

In [13]:
null = df. isnull()
null

     Survived  Pclass    Sex    Age  SibSp  Parch   Fare  Cabin  Embarked
0       False   False  False  False  False  False  False   True     False
1       False   False  False  False  False  False  False  False     False
2       False   False  False  False  False  False  False   True     False
3       False   False  False  False  False  False  False  False     False
4       False   False  False  False  False  False  False   True     False
..        ...     ...    ...    ...    ...    ...    ...    ...       ...
886     False   False  False  False  False  False  False   True     False
887     False   False  False  False  False  False  False  False     False
888     False   False  False   True  False  False  False   True     False
889     False   False  False  False  False  False  False  False     False
890     False   False  False  False  False  False  False   True     False

[891 rows x 9 columns]

In [14]:
null = df. isnull() 
null.sum()   # Count the number of null values in each column of the DataFrame

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [15]:
null = df. isnull() .sum()  # Count the number of null values in each column of the DataFrame
ratio = (null/ df.shape[0]) *100

pd.DataFrame({'null': null, 'ratio': ratio}) .T # Create a new DataFrame with the count and ratio of null values in each column

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
null,0.0,0.0,0.0,177.00000,0.0,0.0,0.0,687.000000,2.000000
ratio,0.0,0.0,0.0,19.86532,0.0,0.0,0.0,77.104377,0.224467

In [16]:
from preprocess import is_null  # Import the is_null function from the preprocessing module

is_null(df)  # Call the is_null function to get the count and ratio of null values in each column of the DataFrame

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
null,0.0,0.0,0.0,177.00000,0.0,0.0,0.0,687.000000,2.000000
ratio,0.0,0.0,0.0,19.86532,0.0,0.0,0.0,77.104377,0.224467