# python for machine learning

Basic

In [ ]:
# addition
2+3

5

In [9]:
# subtraction
5-2

3

In [10]:
# div
6/2

3.0

In [11]:
# mult 
2*3

6

In [2]:
'''
this comment 
'''
# 2+3
2+3

5

In [3]:
# power
2**3

8

In [4]:
# can also do roots this way 
4**0.5

2.0

In [5]:
# order of operations follwed in python 
2+10*10+3

105

In [6]:
# can use parntheses to specify orders
(2+10)*(10+3)

156

In [9]:
# Data types
# integers   رقم صحيح 

# lsit 
# dictioanry
# boleans
# sets لازم كل العناصر تكةن فريدة

In [11]:
x= 5
type (x)

int

In [12]:
x= "y"
type (x)

str

In [13]:
type (5+6J)

complex

In [15]:
print (x)
x= 9

y

In [16]:
print (x)

9

In [17]:
x = 10 
print ("Welcome , the last values of x is :" , x)

Welcome , the last values of x is : 10

In [20]:
print ("welcome")
print ("----------------")
print (30+5)
print (5)

welcome
----------------
35
5

In [28]:
print ("hello")
print("world")
print ("hello ", end="")
print("world" , end= " ")
print("welcome", end=" ")
print(" to amit ",end=" ")

hello
world
hello world welcome  to amit

In [43]:
# Variabels
name = "Ahmed"
age = 25
age += 1     # add year after Print
age = age + 1
print(age)

27

In [ ]:
# assign a single value several variables
a=b=c=1
print(b)

1

In [45]:
# assign a single value multiple variables
a , b , c = 1, 2, "Ali"
print (c)

Ali

In [47]:
#variables 
x = 5 
X = 6

In [54]:
# Breaking a long line
massage = " this is a long message need to be" \
          "broken into multiple line fpr readability"
massage
result = (2+3+
          4*5)
result

25

In [ ]:
# one line statements
x = 10 ; y = 20 ; z = x + y
name = " john" ; age = 30 ; city = "New York"

30

In [57]:
print('hello , world 1')
len("hello world")

hello , world 1

11

In [75]:
#string indexing
x= 'hello world'
print (x[0])

h

In [61]:
print (x[7])

o

In [64]:
print (x[-1])

d

# Slicing

In [66]:
x[1:]

'ello world'

In [67]:
x[:]

'hello world'

In [68]:
x[1:5]

'ello'

In [69]:
x[0:5]

'hello'

In [77]:
x[-1:]

'd'

In [72]:
s= [1,2,3,4,5,6,7,8,9,10]
s[::3]

[1, 4, 7, 10]

In [79]:
name = "amit learning"
print (name.upper())

AMIT LEARNING

In [12]:
x= input("please enter your email")
print (x)
username = (x[0:7])
print (username)
domain = (x[8:17])
print (domain)

mohamed@gmail.com
mohamed@
gmail.com

# Task 1 : Email Validation

In [15]:

# assigning a variable to the email input

email = input("Enter your email: ").lower()

# checking if the email contains '@' and '.'

valed = email.count ("@") == 1 and email.count (".") == 1

print("valid email" )

# checking user name + domain

user_name = email.split("@")[0]
domain = email.split("@")[1]

print("User name: ", user_name)
print("Domain: ", domain)

# checking domain .com or .edu
ending = domain.split(".")[-1]
if ending == "com" :
    print("Domain is .Commercial Domain")
elif ending == "edu":
    print("Domain is .Educational Domain")
else:
    print("Other Domain")

valid email
User name:  m.gamal
Domain:  outlook.com
Domain is .Commercial Domain

# Task 1 : Encoded Message

In [14]:

# Encoded Message
message = "###!!@emocleW EPGTQ!!!6789"

# delete special characters and numbers
core_message = message.replace("#", "").replace("!", "").replace("@", "").replace("6789", "")
word1, word2 = core_message.split()  # divide the message into two words

# reverse word1
reversed_word1 = word1[::-1]
print(reversed_word1)
# word 1 + word 2
decoded_message = reversed_word1 + " " + word2
print(word2)
# print the decoded message
print("Encoded Message:", decoded_message)

Welcome
EPGTQ
Encoded Message: Welcome EPGTQ

Task-3:

In [ ]:
massage_2 = "&&&**$gnirtS PLIO!!@1234"
# Encoded Message 2
clean_massage_2 = massage_2.replace("&","").replace("**","").replace("!","").replace("@", "").replace("1234","").replace("$","")
word3 , word4 = clean_massage_2.split()

# reverse word1
x = word3[::-1]
print(x)

# replace 
y = word4.replace("I","E").replace("O","U")
print(y)

# word 3 + word 4
decoded_message2 = x + " " + y
print("Encoded Message:", decoded_message2)

String
PLEU
Encoded Message: String PLEU

In [5]:
x=[1,2,3,4,5]
type (x)
y = (1,2)
list(y)
print(x , y)

[1, 2, 3, 4, 5] (1, 2)

In [ ]:
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print(type(list_one))
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print((list_one[4]))
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print((list_one[7][3])) # علشان اجيب True من ليست داخل list

<class 'list'>
amit
true

TypeError: 'types.GenericAlias' object does not support item assignment

In [22]:
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
list_one[6]=False
list_one[7][3]="1"
list_one

[1, 2, 3, 4, 'amit ', 'learning', False, [1, 2, 3, '1', ['ml', 'dl', 'ds']]]

In [25]:
list_one [7][0]=[1,2,3,4,5,3]
list_one

[1,
 2,
 3,
 4,
 'amit ',
 'learning',
 False,
 [[1, 2, 3, 4, 5, 3], 2, 3, '1', ['ml', 'dl', 'ds']]]

In [27]:
c= (1,2,3)
type(c)

tuple

In [31]:
x = [1,1,2,2,3,3]
x = set(x)
x

{1, 2, 3}

In [35]:
list_one = ["amit","learing","Python"]
list_one.append("machine learning")
list_one

['amit', 'learing', 'Python', 'machine learning']

In [36]:
list_one = ["amit","learing","Python"]
list_one.insert(0 , "machine learning")
list_one

['machine learning', 'amit', 'learing', 'Python']

In [38]:
list_one = ["amit","learing","Python"]
list_one.extend("machine")
list_one

['amit', 'learing', 'Python', 'm', 'a', 'c', 'h', 'i', 'n', 'e']

In [45]:
list_one = ["amit","X","Python"]
list_one.remove("amit")
list_one

['X', 'Python']

In [50]:
list_one = ["amit","X","Python"]
list_one.pop(0)
list_one

['X', 'Python']

In [55]:
list_one = ["amit","X","Python"]
list_one.remove("amit")
list_one

['X', 'Python']

In [64]:
list_one = ["amit","X","Python"]
#del list_one  #for DELETE all list 
del list_one[0]
list_one

['X', 'Python']

In [67]:
x= input("enter Your name: ")
x

'mohamed'

In [76]:
x =["1","2","3"]
z =input("Enter yor num to remove ")
x.remove(z)
x

['2', '3']

In [83]:
my_list=[1,2,3,2,3,3]
index_of_2 = my_list.index(2)
index_of_2

1

In [90]:
my_list=[1,2,3,2,3,3]
Count_of_2 = my_list.count(23)
index_of_2

1

In [96]:
my_list_2 = [3,1,2,4,15,9,2]
x = my_list_2.sort()
my_list_2

[1, 2, 2, 3, 4, 9, 15]

In [89]:
my_list_2 = [3,1,2,4,15,9,2]
my_list_2.reverse()
my_list_2

[2, 9, 15, 4, 2, 1, 3]

In [99]:
tuple_one = (1,2,3,4,5.5,4.5, "amit", "ahmed")
tuple_one[2] = "welcome"
tuple_one

TypeError: 'tuple' object does not support item assignment

In [110]:
First_num = (int(input("Enter First num :" )))
second_num = (int(input("Enter second num :" )))
x= First_num + second_num
y=First_num * second_num
z=First_num / second_num
c=First_num * second_num
print (x)
print (y)
print (z)
print (c)

12
20
5.0
20

In [ ]:
a = 10 
b = 5 
if a < b :
    print ("a is grater tan b ")
else :
    print ("a is not grater than b")

a isnot grather than b

In [1]:
a = 200
b = 33
if b > a :
    print ( "b is greater then a")
elif  a == b:
    print ("a and b are equal")
else : 
    print ("a is greater than b")

a is greater than b

In [ ]:
x = 5
y = 10 
if x > 0 and y > 0:
    print("both x and y are positive . ")

both x and y are poistive .

In [3]:
age = 15
if age < 18 or age >=65 :
    print("your qualify for spical considerations")

your qualify for spical considerations

In [4]:
rain = False
if rain :
    print("welcome")

In [5]:
x= 5
result = "even" if x % 2 == 0 else"odd"
print (result)

odd

In [8]:
a= 10 
b= 5 
result = a+b if a>b else a-b
print (result)

15

In [13]:
age = 21

print ("adult") if age >= 18 else (print("teenager") if age >= 13 else print("child"))

adult

In [22]:
age = 23
if age >= 21 :
    print("adult")
    if age <= 13 :
        print("child")
else :
    print ("teenage")

adult

In [ ]:
is_sunny = True
temperature = 25 
if is_sunny : 
    print ("it's sunny day ")
    if temperature > 20:
        print("this weather is worm")
    else :
        print("the weather is cool")
else :
    print("it's not a sunny day ")

it's sunny day
this weather is worm

In [ ]:
grade = int(input("enter your grade :"))
if grade  <= 100 and grade >= 90 :
    print (" your grad is A")
elif grade  >= 80 and grade <= 90 :
    print (" your grad is B")
elif grade  >= 70 and grade <= 80 :
    print (" your grad is C")
elif grade  == 70  :
    print (" your grad is D")
else :
    print ("your grade is F")

#  مراجعة حل السؤال في الملف المرسل علي الواتس اب

your grade is F

In [20]:
for x in "amit" :
    print ("python")
else :
    print(" loop finished")

python
python
python
python
 loop finished

In [21]:
for x in range(10):
    print (x)

0
1
2
3
4
5
6
7
8
9

In [23]:
for x in range(10):
    print ("amit")

amit
amit
amit
amit
amit
amit
amit
amit
amit
amit

In [25]:
for i in range (6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [26]:
for i in range(6):
    if i == 4 :
        break
    print(i)

0
1
2
3

In [31]:
for i in range (6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [32]:
for i in range (6):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5

In [34]:
x = 6
while x> 0 :
    print(x)
    x -=1

6
5
4
3
2
1

In [36]:
x = 6
while x> 0 :
    print("python")
    x -=1

python
python
python
python
python
python

In [37]:
z = lambda x:x+10
print (z(10))
print(type(z))
def addition(x):
    return x
print(type(addition))

20
<class 'function'>
<class 'function'>

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 0 :
        print(i)

2
4
6
8
10

In [49]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 1 :
        print(f"My Name is :{i}")

My Name is :1
My Name is :3
My Name is :5
My Name is :7
My Name is :9

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 1 :
        print('my number is {}'.format(i))

my number is 1
my number is 3
my number is 5
my number is 7
my number is 9

In [59]:
def even_odd(x):
    if x % 2 == 0 :
        print('even is {}'.format(x))
    else:
        print('odd is {}'.format(x))

In [65]:
list2 = [(2,4), (6,8),(10,12)]
for number in list2:
    print(number)
for (t1,t2) in list2:
    print(t1,t2)

(2, 4)
(6, 8)
(10, 12)
2 4
6 8
10 12

In [ ]:
x=[[1,2,3],[4,5,6],[7,8,9]]
x=[num[2]for num in x] # list comprehension
x

[3, 6, 9]

In [73]:
d = {'k1': 1, 'k2':2,'k3': 3}
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [74]:
d = {'k1': 1, 'k2':2,'k3': 3}
d.items()
for items in d .keys():
    print(items)
for k,v in d.items():
    print('my key is {}'.format(k), 'my format is{}'.format(v))

k1
k2
k3
my key is k1 my format is1
my key is k2 my format is2
my key is k3 my format is3

In [76]:
x = 0
while x < 10:
    print('x is currently : ', x)
    print('x is still less than 10 , adding 1 to x')
    x+=1
else:
    print("all done")

x is currently :  0
x is still less than 10 , adding 1 to x
x is currently :  1
x is still less than 10 , adding 1 to x
x is currently :  2
x is still less than 10 , adding 1 to x
x is currently :  3
x is still less than 10 , adding 1 to x
x is currently :  4
x is still less than 10 , adding 1 to x
x is currently :  5
x is still less than 10 , adding 1 to x
x is currently :  6
x is still less than 10 , adding 1 to x
x is currently :  7
x is still less than 10 , adding 1 to x
x is currently :  8
x is still less than 10 , adding 1 to x
x is currently :  9
x is still less than 10 , adding 1 to x
all done

In [2]:
def function1 (x,y):
    print (f"first number = {x} , second number = {y}")
function1(4,5)

first number = 4 , second number = 5

In [4]:
def function_1(name, age):
    print (f"my name is {name}, and my age is {age}")
function_1("mohamed" , 35)

my name is mohamed, and my age is 35

In [7]:
def info (x,y):
    print (f"my name is {x}, and my age is {y}")

name = input("enter your name :")
age= input ("enter your age :")
info(name, age)

my name is mohsmed , and my age is 35

In [14]:
def info (a,z):
    print (f"my name is {a}, and my age is {z}")

name = input("enter your name :")
age= input ("enter your age :")
info(a = name, z = age)

my name is mohamed, and my age is 35

In [16]:
def why (c,d = 20):
    print (f"my name is {c}, and my age is {d}")
why("mohamed")

my name is mohamed, and my age is 20

In [20]:
def help (*x):
    return x
help("mohamed", "ahmed" , "amit", 2,3,4, True)

('mohamed', 'ahmed', 'amit', 2, 3, 4, True)

In [23]:
def function_2 (** name):
    print(name)
    print(type(name))
function_2(key1 = 10.5 , key2 = 2 , key3 = "mohamed")

{'key1': 10.5, 'key2': 2, 'key3': 'mohamed'}
<class 'dict'>

In [45]:
def sum_y(n1,n2):
    # i = lambda i :i+10

    for i in range (4):
        print(i)

    return(n1+n2)

print(sum_y(5,3))

0
1
2
3
8

In [32]:
function_5 = lambda x:x+ 10
print(function_5(5))

15

In [31]:
def function3 (n):
    return lambda a : a * n
function_6 = function3(2)
print(function_6(11))

22

In [6]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y    
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
def calculator(x, y, operation):
    if operation == 'add':
        return add(x, y)
    elif operation == 'subtract':
        return subtract(x, y)
    elif operation == 'multiply':
        return multiply(x, y)
    elif operation == 'divide':
        return divide(x, y)
    else:
        return "Invalid operation"
    
print(calculator(10, 5, 'add'))
print(calculator(22, 5, 'subtract'))
print(calculator(17, 5, 'multiply'))
print(calculator(20,5,'divide'))

15
17
85
4.0

In [7]:
def calculator(x, y, operation):
    if operation == 'add':
        return add(x, y)
    elif operation == 'subtract':
        return subtract(x, y)
    elif operation == 'multiply':
        return multiply(x, y)
    elif operation == 'divide':
        return divide(x, y)
    else:
        return "Invalid operation"
    
print(calculator(10, 5, 'add'))
print(calculator(22, 5, 'subtract'))
print(calculator(17, 5, 'multiply'))
print(calculator(20,5,'divide'))

15
17
85
4.0

In [23]:
scoure = int(input("Enter your grade: "))

def degree(scoure):
    if 90 <= scoure <= 100:
        return "A"
    elif 80 <= scoure < 90:
        return "B"
    elif 70 <= scoure < 80:
        return "C"
    elif scoure == 70:
        return "D"
    else:
        return "F"

print(f"Your grade is {degree(scoure)}.")

Your grade is A.

In [23]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice(1/2/3/4): ")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == '1':
    print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
    print(num1,"-",num2,"=", subtract(num1,num2))

elif choice == '3':
    print(num1,"*",num2,"=", multiply(num1,num2))

elif choice == '4':
    print(num1,"/",num2,"=", divide(num1,num2))
else:
    print("Invalid input")

1.Add
2.Subtract
3.Multiply
4.Divide
10 + 26 = 36

In [27]:
def square ( num):
    return num**2

square(2)

4

In [28]:
my_num = [1,2,3,4,5]
map(square,my_num)
list(map(square,my_num))

[1, 4, 9, 16, 25]

In [5]:
def say_hello():
    print("Hello!")
say_hello()

Hello!

In [6]:
def greet(name):
    print(f"Hello, {name}!")
greet ("Gamal")

Hello, Gamal!

In [7]:
def square(num):
    return num ** 2
result = square(5)
print("The square is:", result)

The square is: 25

In [8]:
def multiply (x , y):
    return x * y
result = multiply (3 , 4)
print ("result :" , result)

result : 12

In [11]:
def even_check (num):
    if num % 2 == 0 :
        return "even"
    else : 
        return "odd"
result = even_check(7)
print("result :", result)

result : odd

In [26]:
num1 = int(input("Enter x :"))
num2 = int(input("enter y:"))
choice = input("Enter choice(1/2): ")
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
if choice == '1':
    print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
    print(num1,"-",num2,"=", subtract(num1,num2))
else:
    print("Invalid input")

10 - 5 = 5

In [ ]:
def calculator(x, y, operation):
    if operation == "add":
        return x + y
    elif operation == "sub":
        return x - y
    elif operation == "mul":
        return x * y
    elif operation == "div":
        if y != 0:
            return x / y
        else:
            return "Cannot divide by zero"
    else:
        return "Invalid operation"


num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
op = input("Enter operation (add / sub / mul / div): ")

result = calculator(num1, num2, op)
print("Result:", result)
print(f"{num1} {op} {num2} = {result}")

Result: 100
10 mul 10 = 100

In [39]:
def calculator(operation, x, y):
    if operation == 'add':
        return x + y
    elif operation == 'subtract':
        return x - y
    elif operation == 'multiply':
        return x * y
    elif operation == 'divide':
        if y != 0:
            return x / y
        else:
            return "Error: Division by zero"
    else:
        return "Invalid"

print(calculator('subtract', 10, 5))

5

In [47]:
def your_grade(grade):
    if grade == 100 :
        return "a"
    elif grade < 100 and grade >= 80:
        return "b"
    elif grade < 80 and grade >= 50:
        return "C"
    else:
        print("try anther time : " , your_grade1)
your_grade1= int(input("Enter your grade :" ))

your_grade(your_grade1)

try anther time :  40