# python for machine learning

Basic

In [ ]:
# addition
2+3

In [ ]:
# subtraction
5-2

In [ ]:
# div
6/2

In [ ]:
# mult 
2*3

In [ ]:
'''
this comment 
'''
# 2+3
2+3

In [ ]:
# power
2**3

In [ ]:
# can also do roots this way 
4**0.5

In [ ]:
# order of operations follwed in python 
2+10*10+3

In [ ]:
# can use parntheses to specify orders
(2+10)*(10+3)

In [ ]:
# Data types
# integers   رقم صحيح 

# lsit 
# dictioanry
# boleans
# sets لازم كل العناصر تكةن فريدة

In [ ]:
x= 5
type (x)

In [ ]:
x= "y"
type (x)

In [ ]:
type (5+6J)

In [ ]:
print (x)
x= 9

In [ ]:
print (x)

In [ ]:
x = 10 
print ("Welcome , the last values of x is :" , x)

In [ ]:
print ("welcome")
print ("----------------")
print (30+5)
print (5)

In [ ]:
print ("hello")
print("world")
print ("hello ", end="")
print("world" , end= " ")
print("welcome", end=" ")
print(" to amit ",end=" ")

In [ ]:
# Variabels
name = "Ahmed"
age = 25
age += 1     # add year after Print
age = age + 1
print(age)

In [ ]:
# assign a single value several variables
a=b=c=1
print(b)

In [ ]:
# assign a single value multiple variables
a , b , c = 1, 2, "Ali"
print (c)

In [ ]:
#variables 
x = 5 
X = 6

In [ ]:
# Breaking a long line
massage = " this is a long message need to be" \
          "broken into multiple line fpr readability"
massage
result = (2+3+
          4*5)
result

In [ ]:
# one line statements
x = 10 ; y = 20 ; z = x + y
name = " john" ; age = 30 ; city = "New York"

In [ ]:
print('hello , world 1')
len("hello world")

In [ ]:
#string indexing
x= 'hello world'
print (x[0])

In [ ]:
print (x[7])

In [ ]:
print (x[-1])

# Slicing

In [ ]:
x[1:]

In [ ]:
x[:]

In [ ]:
x[1:5]

In [ ]:
x[0:5]

In [ ]:
x[-1:]

In [ ]:
s= [1,2,3,4,5,6,7,8,9,10]
s[::3]

In [ ]:
name = "amit learning"
print (name.upper())

In [ ]:
x= input("please enter your email")
print (x)
username = (x[0:7])
print (username)
domain = (x[8:17])
print (domain)

# Task 1 : Email Validation

In [ ]:

# assigning a variable to the email input

email = input("Enter your email: ").lower()

# checking if the email contains '@' and '.'

valed = email.count ("@") == 1 and email.count (".") == 1

print("valid email" )

# checking user name + domain

user_name = email.split("@")[0]
domain = email.split("@")[1]

print("User name: ", user_name)
print("Domain: ", domain)

# checking domain .com or .edu
ending = domain.split(".")[-1]
if ending == "com" :
    print("Domain is .Commercial Domain")
elif ending == "edu":
    print("Domain is .Educational Domain")
else:
    print("Other Domain")

# Task 1 : Encoded Message

In [ ]:

# Encoded Message
message = "###!!@emocleW EPGTQ!!!6789"

# delete special characters and numbers
core_message = message.replace("#", "").replace("!", "").replace("@", "").replace("6789", "")
word1, word2 = core_message.split()  # divide the message into two words

# reverse word1
reversed_word1 = word1[::-1]
print(reversed_word1)
# word 1 + word 2
decoded_message = reversed_word1 + " " + word2
print(word2)
# print the decoded message
print("Encoded Message:", decoded_message)

Task-3:

In [ ]:
massage_2 = "&&&**$gnirtS PLIO!!@1234"
# Encoded Message 2
clean_massage_2 = massage_2.replace("&","").replace("**","").replace("!","").replace("@", "").replace("1234","").replace("$","")
word3 , word4 = clean_massage_2.split()

# reverse word1
x = word3[::-1]
print(x)

# replace 
y = word4.replace("I","E").replace("O","U")
print(y)

# word 3 + word 4
decoded_message2 = x + " " + y
print("Encoded Message:", decoded_message2)

In [ ]:
x=[1,2,3,4,5]
type (x)
y = (1,2)
list(y)
print(x , y)

In [ ]:
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print(type(list_one))
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print((list_one[4]))
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
print((list_one[7][3])) # علشان اجيب True من ليست داخل list

In [ ]:
list_one = [1,2,3,4, "amit " , "learning", True ,[1,2,3,"true",["ml","dl","ds"]]]
list_one[6]=False
list_one[7][3]="1"
list_one

In [ ]:
list_one [7][0]=[1,2,3,4,5,3]
list_one

In [ ]:
c= (1,2,3)
type(c)

In [ ]:
x = [1,1,2,2,3,3]
x = set(x)
x

In [ ]:
list_one = ["amit","learing","Python"]
list_one.append("machine learning")
list_one

In [ ]:
list_one = ["amit","learing","Python"]
list_one.insert(0 , "machine learning")
list_one

In [ ]:
list_one = ["amit","learing","Python"]
list_one.extend("machine")
list_one

In [ ]:
list_one = ["amit","X","Python"]
list_one.remove("amit")
list_one

In [ ]:
list_one = ["amit","X","Python"]
list_one.pop(0)
list_one

In [ ]:
list_one = ["amit","X","Python"]
list_one.remove("amit")
list_one

In [ ]:
list_one = ["amit","X","Python"]
#del list_one  #for DELETE all list 
del list_one[0]
list_one

In [ ]:
x= input("enter Your name: ")
x

In [ ]:
x =["1","2","3"]
z =input("Enter yor num to remove ")
x.remove(z)
x

In [ ]:
my_list=[1,2,3,2,3,3]
index_of_2 = my_list.index(2)
index_of_2

In [ ]:
my_list=[1,2,3,2,3,3]
Count_of_2 = my_list.count(23)
index_of_2

In [ ]:
my_list_2 = [3,1,2,4,15,9,2]
x = my_list_2.sort()
my_list_2

In [ ]:
my_list_2 = [3,1,2,4,15,9,2]
my_list_2.reverse()
my_list_2

In [ ]:
tuple_one = (1,2,3,4,5.5,4.5, "amit", "ahmed")
tuple_one[2] = "welcome"
tuple_one

In [ ]:
First_num = (int(input("Enter First num :" )))
second_num = (int(input("Enter second num :" )))
x= First_num + second_num
y=First_num * second_num
z=First_num / second_num
c=First_num * second_num
print (x)
print (y)
print (z)
print (c)

In [ ]:
a = 10 
b = 5 
if a < b :
    print ("a is grater tan b ")
else :
    print ("a is not grater than b")

In [ ]:
a = 200
b = 33
if b > a :
    print ( "b is greater then a")
elif  a == b:
    print ("a and b are equal")
else : 
    print ("a is greater than b")

In [ ]:
x = 5
y = 10 
if x > 0 and y > 0:
    print("both x and y are positive . ")

In [ ]:
age = 15
if age < 18 or age >=65 :
    print("your qualify for spical considerations")

In [ ]:
rain = False
if rain :
    print("welcome")

In [ ]:
x= 5
result = "even" if x % 2 == 0 else"odd"
print (result)

In [ ]:
a= 10 
b= 5 
result = a+b if a>b else a-b
print (result)

In [ ]:
age = 21

print ("adult") if age >= 18 else (print("teenager") if age >= 13 else print("child"))

In [ ]:
age = 23
if age >= 21 :
    print("adult")
    if age <= 13 :
        print("child")
else :
    print ("teenage")

In [ ]:
is_sunny = True
temperature = 25 
if is_sunny : 
    print ("it's sunny day ")
    if temperature > 20:
        print("this weather is worm")
    else :
        print("the weather is cool")
else :
    print("it's not a sunny day ")

In [ ]:
grade = int(input("enter your grade :"))
if grade  <= 100 and grade >= 90 :
    print (" your grad is A")
elif grade  >= 80 and grade <= 90 :
    print (" your grad is B")
elif grade  >= 70 and grade <= 80 :
    print (" your grad is C")
elif grade  == 70  :
    print (" your grad is D")
else :
    print ("your grade is F")

#  مراجعة حل السؤال في الملف المرسل علي الواتس اب

In [ ]:
for x in "amit" :
    print ("python")
else :
    print(" loop finished")

In [ ]:
for x in range(10):
    print (x)

In [ ]:
for x in range(10):
    print ("amit")

In [ ]:
for i in range (6):
    if i == 3:
        continue
    print(i)

In [ ]:
for i in range(6):
    if i == 4 :
        break
    print(i)

In [ ]:
for i in range (6):
    if i == 3:
        continue
    print(i)

In [ ]:
for i in range (6):
    if i == 3:
        pass
    print(i)

In [ ]:
x = 6
while x> 0 :
    print(x)
    x -=1

In [ ]:
x = 6
while x> 0 :
    print("python")
    x -=1

In [ ]:
z = lambda x:x+10
print (z(10))
print(type(z))
def addition(x):
    return x
print(type(addition))

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 0 :
        print(i)

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 1 :
        print(f"My Name is :{i}")

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for i in list1:
    if i % 2 == 1 :
        print('my number is {}'.format(i))

In [ ]:
def even_odd(x):
    if x % 2 == 0 :
        print('even is {}'.format(x))
    else:
        print('odd is {}'.format(x))

In [ ]:
list2 = [(2,4), (6,8),(10,12)]
for number in list2:
    print(number)
for (t1,t2) in list2:
    print(t1,t2)

In [ ]:
x=[[1,2,3],[4,5,6],[7,8,9]]
x=[num[2]for num in x] # list comprehension
x

In [ ]:
d = {'k1': 1, 'k2':2,'k3': 3}
d.items()

In [ ]:
d = {'k1': 1, 'k2':2,'k3': 3}
d.items()
for items in d .keys():
    print(items)
for k,v in d.items():
    print('my key is {}'.format(k), 'my format is{}'.format(v))

In [ ]:
x = 0
while x < 10:
    print('x is currently : ', x)
    print('x is still less than 10 , adding 1 to x')
    x+=1
else:
    print("all done")

In [ ]:
def function1 (x,y):
    print (f"first number = {x} , second number = {y}")
function1(4,5)

In [ ]:
def function_1(name, age):
    print (f"my name is {name}, and my age is {age}")
function_1("mohamed" , 35)

In [ ]:
def info (x,y):
    print (f"my name is {x}, and my age is {y}")

name = input("enter your name :")
age= input ("enter your age :")
info(name, age)

In [ ]:
def info (a,z):
    print (f"my name is {a}, and my age is {z}")

name = input("enter your name :")
age= input ("enter your age :")
info(a = name, z = age)

In [ ]:
def why (c,d = 20):
    print (f"my name is {c}, and my age is {d}")
why("mohamed")

In [ ]:
def help (*x):
    return x
help("mohamed", "ahmed" , "amit", 2,3,4, True)

In [ ]:
def function_2 (** name):
    print(name)
    print(type(name))
function_2(key1 = 10.5 , key2 = 2 , key3 = "mohamed")

In [ ]:
def sum_y(n1,n2):
    # i = lambda i :i+10

    for i in range (4):
        print(i)

    return(n1+n2)

print(sum_y(5,3))

In [ ]:
function_5 = lambda x:x+ 10
print(function_5(5))

In [ ]:
def function3 (n):
    return lambda a : a * n
function_6 = function3(2)
print(function_6(11))

In [ ]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y    
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
def calculator(x, y, operation):
    if operation == 'add':
        return add(x, y)
    elif operation == 'subtract':
        return subtract(x, y)
    elif operation == 'multiply':
        return multiply(x, y)
    elif operation == 'divide':
        return divide(x, y)
    else:
        return "Invalid operation"
    
print(calculator(10, 5, 'add'))
print(calculator(22, 5, 'subtract'))
print(calculator(17, 5, 'multiply'))
print(calculator(20,5,'divide'))

In [ ]:
def calculator(x, y, operation):
    if operation == 'add':
        return add(x, y)
    elif operation == 'subtract':
        return subtract(x, y)
    elif operation == 'multiply':
        return multiply(x, y)
    elif operation == 'divide':
        return divide(x, y)
    else:
        return "Invalid operation"
    
print(calculator(10, 5, 'add'))
print(calculator(22, 5, 'subtract'))
print(calculator(17, 5, 'multiply'))
print(calculator(20,5,'divide'))

In [ ]:
scoure = int(input("Enter your grade: "))

def degree(scoure):
    if 90 <= scoure <= 100:
        return "A"
    elif 80 <= scoure < 90:
        return "B"
    elif 70 <= scoure < 80:
        return "C"
    elif scoure == 70:
        return "D"
    else:
        return "F"

print(f"Your grade is {degree(scoure)}.")

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice = input("Enter choice(1/2/3/4): ")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == '1':
    print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
    print(num1,"-",num2,"=", subtract(num1,num2))

elif choice == '3':
    print(num1,"*",num2,"=", multiply(num1,num2))

elif choice == '4':
    print(num1,"/",num2,"=", divide(num1,num2))
else:
    print("Invalid input")

In [ ]:
def square ( num):
    return num**2

square(2)

In [ ]:

square(2)
my_num = [1,2,3,4,5]
map(square,my_num)
list(map(square,my_num))

In [ ]:
def say_hello():
    print("Hello!")
say_hello()

In [ ]:
def greet(name):
    print(f"Hello, {name}!")
greet ("Gamal")

In [ ]:
def square(num):
    return num ** 2
result = square(5)
print("The square is:", result)

In [ ]:
def multiply (x , y):
    return x * y
result = multiply (3 , 4)
print ("result :" , result)

In [ ]:
def even_check (num):
    if num % 2 == 0 :
        return "even"
    else : 
        return "odd"
result = even_check(7)
print("result :", result)

In [ ]:
num1 = int(input("Enter x :"))
num2 = int(input("enter y:"))
choice = input("Enter choice(1/2): ")
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
if choice == '1':
    print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
    print(num1,"-",num2,"=", subtract(num1,num2))
else:
    print("Invalid input")

In [ ]:
def calculator(x, y, operation):
    if operation == "add":
        return x + y
    elif operation == "sub":
        return x - y
    elif operation == "mul":
        return x * y
    elif operation == "div":
        if y != 0:
            return x / y
        else:
            return "Cannot divide by zero"
    else:
        return "Invalid operation"


num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
op = input("Enter operation (add / sub / mul / div): ")

result = calculator(num1, num2, op)
print("Result:", result)
print(f"{num1} {op} {num2} = {result}")

In [ ]:
def calculator(operation, x, y):
    if operation == 'add':
        return x + y
    elif operation == 'subtract':
        return x - y
    elif operation == 'multiply':
        return x * y
    elif operation == 'divide':
        if y != 0:
            return x / y
        else:
            return "Error: Division by zero"
    else:
        return "Invalid"

print(calculator('subtract', 10, 5))

In [ ]:
def your_grade(grade):
    if grade == 100 :
        return "a"
    elif grade < 100 and grade >= 80:
        return "b"
    elif grade < 80 and grade >= 50:
        return "C"
    else:
        print("try anther time : " , your_grade1)
your_grade1= int(input("Enter your grade :" ))

your_grade(your_grade1)

In [ ]:
def greet(name="Guest"):
    return f"Welcome, {name}!"
print(greet())            # Welcome, Guest!
print(greet("Mohamed"))   # Welcome, Mohamed!

In [ ]:
def info (name , job = "student"):
    return f"Welcome {name}, I am a {job}"
print (info("ali"))
print (info("mohamed" , "engineer"))

In [ ]:
def info(name, job="student"):
    return f"Welcome {name}, I am a {job}"

# استخدام الدالة
print(info("Ali"))  # بدون وظيفة، تستخدم الافتراضية
print(info("Mohamed", "Engineer"))  # بوظيفة محددة

In [ ]:
def stats(a, b):
    total = a + b
    average = total / 2
    return total, average
t, avg = stats(10, 20)
print("Total:", t)
print("Average:", avg)

In [ ]:
def min_max(n, x):
    if n < x:
        return n, x  # n أصغر و x أكبر
    else:
        return x, n  # x أصغر و n أكبر

# استدعاء الدالة وتخزين النتائج
small, large = min_max(10, 5)

# الطباعة
print(f"The min number is: {small}")
print(f"The max number is: {large}")

In [ ]:
def analyze(numbers):
    total = sum(numbers)
    avg = total / len(numbers)
    return total, avg
nums = [10, 20, 30, 40]
total, average = analyze(nums)

print("Total:", total)
print("Average:", average)

In [ ]:
def count_even_odd(numbers):
    even_count = 0
    odd_count = 0

    for num in numbers:
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1

    return even_count, odd_count

# استخدام الدالة
even, odd = count_even_odd([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print(f"The even numbers count is: {even}")
print(f"The odd numbers count is: {odd}")

In [ ]:
def separate_even_odd(numbers):
    evens = []
    odds = []

    for num in numbers:
        if num % 2 == 0:
            evens.append(num)
        else:
            odds.append(num)

    return evens, odds
even_nums, odd_nums = separate_even_odd([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print("Even numbers:", even_nums)
print("Odd numbers:", odd_nums)

In [ ]:
my_num = [1,2,3,4,5]
def square ( num):
    num = (sum(my_num))
    return num**2

square(2)

In [ ]:
dic = {"name": "mohamed", "age": "35", "phone": "123456789"}

def data(x, y, z="123456789"):
    return f"Welcome {x}, I am {y}, my phone {z}"

x = dic["name"]
y = dic["age"]
z = dic["phone"]

print(data(x, y, z))

In [ ]:
dic_1 = {"name":"mohamed", "age":35}
def info (**arg):
    for k , v in arg.items():
        print(k,v)
    return arg

result = info(**dic_1)

In [ ]:
dic_2 = {"name":"mohamed", "age":34}
for x,y in dic_2.items():
    print(x,y)

In [ ]:
def sum_all(*numbers):
    sum = 0
    for n in numbers:
        sum += n 
    return sum
print(sum_all(1,2,3))

In [ ]:
def mult_all(*numbers):
    mult = 1
    for n in numbers:
        mult *=  n
    return mult

print(mult_all(1,2,3,4,5,6))

In [ ]:
def counter (start = 0):
    n = start
    while True:
        yield n       # use yield to generate on item at a time
        n += 1

for i in counter (5):
    if i > 10:
        break

In [ ]:
def fib ():
    a,b = 0,1
    while True:
        yield a
        a,b = b , a + b
for n in fib():
    if n > 20:
        break
    print(n)

In [ ]:
nums = (x**2 for x in range (10))
print (type(nums))
print (list(nums))

In [ ]:
nums = (x + 20 for x in range (10))
print (list(nums))

In [ ]:
attacks = ["kimura" , "armbar", "triangle"]
random.choice(attacks)

In [ ]:
import random
def lazy_randoom_attacks():
    while True:

        attack = random.choice(attacks)

        print("yielding attack")
        yield attack
        
generator = lazy_randoom_attacks()
for _ in range(5):
    print(next(generator))

In [ ]:
import random
attacks = ["kimura" , "armbar", "triangle"]
random.choice(attacks)

Exceptions

In [ ]:
try :
    5/0
except:
    print("not accept to divid by zero")

In [ ]:
try :
    x = 10 
    y = int(input())
    x / y
except :
    print('division by zero')

In [ ]:
try :
    5/0
except Exception as e:
    print (e)

In [ ]:
try :
    print(y)
except NameError:
    print("something went wrong")
else:
    print("nothing is wrong")

In [ ]:
try :
    x = 10
    y= int(input())
    x/y
except:
    print('devision by zero')
finally:
    print("done")

read file

In [ ]:
import os
import sys

f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","r")
print(f.read())
f.close()

In [ ]:
f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","r")
all_lines = f.readlines()
for line in all_lines:
    print(line)

In [ ]:
f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","w")
f.write("hello")
f.closed

f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","r")
print(f.read())
f.close()

In [ ]:
f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","a")
for i in range (30):
    f.write("\n i love python" + str(i))
f.close
f = open(r"C:/Users/Mgama/PYTHON/Ai_Amit_Diploma/test.txt","r")
print(f.read())
f.close()

In [ ]:
def calculate(x, y, operator):
    """Perform basic arithmetic operations."""
    if operator == "+":
        return x + y
    elif operator == "-":
        return x - y
    elif operator == "*":
        return x * y
    elif operator == "/":
        return x / y if y != 0 else "Error: Division by zero"

print("\n=== Welcome to the Basic Calculator ===")
print("Addition (+) | Subtraction (-) | Multiplication (*) | Division (/)")
print("Type 'exit' to quit.\n")

while True:
    try:
        num1 = float(input("Enter the first number: "))
    except ValueError:
        print("Invalid input. Please enter a numeric value.")
        continue

    while True:
        choice = input("Enter an operation (+, -, *, /): ").strip()
        if choice in ["+", "-", "*", "/"]:
            break
        print("Invalid operation. Please try again.")

    try:
        num2 = float(input("Enter the second number: "))
    except ValueError:
        print("Invalid input. Please enter a numeric value.")
        continue

    result = calculate(num1, num2, choice)

    if choice == "/" and num2 == 0:
        print("\nError: Division by zero\n")
    else:
        print(f"\nResult: {num1} {choice} {num2} = {calculate(num1, num2, choice)}\n")

    again = input("Do you want to perform another calculation? (yes/no): ").strip().lower()
    if again != "yes":
        print("Thank you for using the calculator. Goodbye!")
        break

In [ ]:
def show_details (*skills):
    print (f"hello mohamed your skills is :")
    for skill in skills:
        print(skill)

show_details ("word" , "excel", "css" , "python")

In [ ]:
def show_details (name , *skills):
    print (f"hello {name} your skills is :")
    for skill in skills:
        print(skill)

show_details ("Ali" , "word" , "excel", "css" , "python")

In [ ]:
def say_hello (name , age = "unknown" , country="unknown"):
    print ( f"hello {name} , your age is {age}, your country is {country}")

say_hello("mohamed", 35 , "egypt")
say_hello("ali", 35 )
say_hello("jimmy")

In [ ]:
def factorial (num):
    if num == 0:
        return 0
    if num == 1 :
        return 1
    return num * factorial(num-1)                  # مضروب الخمسة[5*4*3*2*1]
factorial(5)

In [ ]:
def factorial(num):
    result = 1
    for i in range(2, num + 1):
        result *= i
    return result

print(factorial(5))

In [ ]:
def is_prime(num):
    for i in range(2 , num):
        if num % 2 == 0 :
            return False
    return True

is_prime(20)

In [ ]:
def is_prime(num):
    for i in range(2 , num):
        if num % 2 == 0 :
            return False
    return True

is_prime(19)

In [ ]:
def dividors (num1, num2):
    mn = min(num1 , num2)
    common_dividors = []
    for i in range(1 , mn+1):
        if num1 % i == 0 and num2 % i == 0:
            common_dividors.append(i)
    return common_dividors
dividors(20, 10)

In [ ]:
def dividors(num1, num2):  # تعريف دالة للبحث عن القواسم المشتركة بين عددين
    mn = min(num1, num2)  # تحديد أصغر عدد بين الاثنين لتقليل نطاق البحث
    common_dividors = []  # إنشاء قائمة فارغة لتخزين القواسم المشتركة

    for i in range(1, mn+1):  # التكرار من 1 إلى أصغر عدد بين الاثنين
        if num1 % i == 0 and num2 % i == 0:  # التحقق مما إذا كان i قاسمًا مشتركًا للعددين
            common_dividors.append(i)  # إذا كان القاسم مشتركًا، يتم إضافته إلى القائمة

    return common_dividors  # إرجاع القائمة التي تحتوي على القواسم المشتركة

print(dividors(20, 10))  # استدعاء الدالة واختبارها بقيم محددة

In [ ]:
eveen =[]
def even_fun(num):
    for i in range (num+1):
        if i % 2 == 0 :
            print(eveen.append(i))
    return eveen
print(even_fun(10))

In [ ]:
odd =[]
def odd_fun(num):
    
    for i in range (num+1):
        if i % 2 == 1 :
            print(odd.append(i))
    return odd
print(odd_fun(10))

In [ ]:
str1 = input()
str2 = input()

longes_str = ""
for i in range(len(str1)):
    for j in range (i , len(str1)):
        sub_str = str1[i:j+1]
        print(sub_str)
        if sub_str in str2:
            if len (sub_str) > len(longes_str):

                longes_str = sub_str

longes_str

In [ ]:
def longest_common_substring(str1, str2):
    longest_str = ""  
    
    for i in range(len(str1)):
        for j in range(i, len(str1)):
            sub_str = str1[i:j+1]  
            if sub_str in str2: 
                if len(sub_str) > len(longest_str):  
                    longest_str = sub_str  

    return longest_str  


str1 = input()
str2 = input()
result = longest_common_substring(str1, str2)
print(f"The longest str is :", result)

In [ ]:
str1 = input()  # إدخال أول سلسلة نصية من المستخدم
str2 = input()  # إدخال ثاني سلسلة نصية من المستخدم

longes_str = ""  # متغير لتخزين أطول سلسلة مشتركة

# حلقة تمر عبر كل حرف في str1 كنقطة بداية
for i in range(len(str1)):  
    # حلقة أخرى للتمرير على جميع النهايات المحتملة للجزء الفرعي
    for j in range(i, len(str1)):  
        sub_str = str1[i:j+1]  # استخراج الجزء الفرعي من str1
        print(sub_str)  # طباعة الجزء الفرعي لرؤية كل الاحتمالات
        
        # التحقق مما إذا كان الجزء الفرعي موجودًا في str2
        if sub_str in str2:  
            # إذا كان طول الجزء الفرعي أكبر من أطول سلسلة مشتركة حتى الآن، نقوم بتحديثها
            if len(sub_str) > len(longes_str):  
                longes_str = sub_str  

longes_str  # طباعة أو إرجاع أطول سلسلة مشتركة

In [34]:
str1 = input()
str2 = input()

def compare (str1,str2):
    long_string = ""
    for i in range(len(str1)):
        for j in range(i,len(str1)):
            sub_str=str1[i:j+1]
            print(sub_str)
            if sub_str in str2:
                if len(sub_str)>len(long_string):
                    long_string = sub_str
    print(long_string)

compare(str1,str2)

m
mo
moh
moha
moham
mohame
mohamed
o
oh
oha
oham
ohame
ohamed
h
ha
ham
hame
hamed
a
am
ame
amed
m
me
med
e
ed
d
mohamed

In [35]:
def fun (s):
    lst = s .split(" ")
    new_lst = lst[::-1]
    print(new_lst)
    new_str = ""
    for i in new_lst:
        new_str += i + " "
        print(new_str)
        new_str = new_str[:-1]
    
    return new_lst

s = "hello world"
fun("hello world")

['world', 'hello']
world
worldhello

['world', 'hello']

In [ ]:
def fun(s):
    # تقسيم النص إلى قائمة من الكلمات باستخدام المسافة كمحدد
    lst = s.split(" ")
    
    # عكس ترتيب الكلمات في القائمة
    new_lst = lst[::-1]
    
    # طباعة القائمة بعد عكسها (للتأكد من النتيجة)
    print(new_lst)

    # إنشاء متغير لتخزين النص الجديد بعد التعديلات
    new_str = ""

    # تكرار عبر القائمة المعكوسة لبناء النص الجديد تدريجياً
    for i in new_lst:
        new_str += i + " "  # إضافة الكلمة الحالية متبوعة بمسافة
        print(new_str)  # طباعة النص بعد كل إضافة جديدة
        new_str = new_str[:-1]  # إزالة المسافة الزائدة في نهاية النص
    
    # إعادة القائمة المعكوسة كقيمة راجعة من الدالة
    return new_lst

# تجربة الدالة باستخدام النص "hello world"
s = "hello world"
fun(s)

In [36]:
def fun(s):
    # تقسيم النص إلى قائمة من الكلمات
    lst = s.split(" ")
    
    # عكس ترتيب الكلمات
    new_lst = lst[::-1]
    
    # طباعة القائمة المعكوسة
    print(new_lst)

    # استخدام join لإنشاء النص الجديد من القائمة المعكوسة
    new_str = " ".join(new_lst)
    
    print(new_str)  # طباعة النص النهائي بعد إعادة ترتيب الكلمات
    
    return new_lst

# تجربة الدالة
s = "hello world"
fun(s)

['world', 'hello']
world hello

['world', 'hello']

In [41]:
import random

def generate_password(length):
    characters = "abcdefghijkaldjfn;ashf;kasdhnf;ljasnSLDJF;SJHG;KWJSHGKUWHRUOTHSJCVN.KJCJBV1324654897!@#$%^&*()_+"
    password = ""

    for _ in range(length):
        password += random .choice(characters)
    
    return password

generate_length = 8
random_password = generate_password(generate_length)
print(random_password)

;J)6+jj3