In [1]:
pip install psycopg2 # PostgreSQL database adapter for Python

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [2]:
import psycopg2

In [ ]:
import psycopg2
my_conn = psycopg2.connect(
    host = "localhost",
    database = "Hospital",
    user = "postgres",
    password = "test_12345"

)

my_conn.set_session(autocommit=True)  # enables autocommit mode

In [4]:
cur = my_conn.cursor() # Create a cursor object to interact with the database
cur.execute("SELECT current_user;") # Execute a SQL query
print(cur.fetchone()) # Fetch and print the result of the query
# cur.close() # Close the cursor
# my_conn.close() # Close the database connection

('postgres',)

In [5]:
my_conn.autocommit = True # Enable autocommit mode
cur = my_conn.cursor() # Get a cursor object to execute SQL queries
cur.execute("create database Bike_db;") # Create a new database named 'Bike_db'

In [6]:
cur.execute("select datname from pg_database where datistemplate = false;")
for db in cur.fetchall():
    print(db)

('postgres',)
('student_managment',)
('test',)
('Hospital',)
('BIKE',)
('bike_db',)

In [8]:
cur.execute("create table steudent (name varchar(30), phone varchar(20));")
print("table created successfully")

table created successfully

In [10]:
cur.execute("Alter table steudent add column city varchar(20);")
print("table created successfully")

table created successfully

In [ ]:
sql = "insert into steudent (name, phone, city) values (%s, %s, %s);"
data = ('Amit', '1234567890', 'Egypt')
cur.execute(sql, data)
my_conn.commit() # Commit the transaction
print("Data inserted successfully")

Data inserted successfully

In [12]:
sql= "insert into steudent (name, phone, city) values (%s, %s, %s);"
data = [
        ('Ravi', '9876543210', 'India'),
        ('John', '4567891230', 'USA'),
        ('Sara', '3216549870', 'UK'),
        ('Mike', '7890123456', 'Canada'),
        ('Linda', '6543217890', 'Australia')

]
cur.executemany(sql, data)
my_conn.commit() # Commit the transaction
print("Data inserted successfully")
print(cur.rowcount, "records inserted.")

Data inserted successfully
5 records inserted.

In [13]:
cur.execute("SELECT * FROM steudent;") # Execute a SQL query
results = cur.fetchall() # Fetch all results from the executed query
for row in results:
    print(row) # Print each row

('Amit', '1234567890', 'Egypt')
('Ravi', '9876543210', 'India')
('John', '4567891230', 'USA')
('Sara', '3216549870', 'UK')
('Mike', '7890123456', 'Canada')
('Linda', '6543217890', 'Australia')

In [14]:
cur.execute("SELECT name, phone FROM steudent;") # Execute a SQL query
results = cur.fetchall() # Fetch all results from the executed query
for row in results:
    print(row) # Print each row

('Amit', '1234567890')
('Ravi', '9876543210')
('John', '4567891230')
('Sara', '3216549870')
('Mike', '7890123456')
('Linda', '6543217890')

In [15]:
cur.execute ("select phone from steudent where name = 'Amit';") # Execute a SQL query
results = cur.fetchall() # Fetch all results from the executed query
print(results) # Print each row

[('1234567890',)]

In [17]:
sql = "select * from steudent where name = %s;" 
name = input("Enter name to search: ")
data = (name,)
cur.execute(sql, data) # Execute a SQL query
results = cur.fetchall() # Fetch all results from the executed query
print(results) # Print each row

[('Amit', '1234567890', 'Egypt')]

In [19]:
import pandas as pd
df=pd.read_sql("SELECT * FROM steudent;", my_conn) # Read data from the database into a pandas DataFrame
df.head() # Display the first few rows of the DataFrame

C:\Users\Mgama\AppData\Local\Temp\ipykernel_10612\3957483939.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql("SELECT * FROM steudent;", my_conn) # Read data from the database into a pandas DataFrame

   name       phone    city
0  Amit  1234567890   Egypt
1  Ravi  9876543210   India
2  John  4567891230     USA
3  Sara  3216549870      UK
4  Mike  7890123456  Canada

In [29]:
cur.execute("update steudent set phone = '123456789' where name = 'Amit';") # Execute a SQL query
my_conn.commit() # Commit the transaction
cur.execute ("select * from steudent ")
results = cur.fetchall() # Fetch all results from the executed query
for i in results:
    print(i)

('Ravi', '9876543210', 'India')
('John', '4567891230', 'USA')
('Sara', '3216549870', 'UK')
('Mike', '7890123456', 'Canada')
('Linda', '6543217890', 'Australia')
('Amit', '123456789', 'Egypt')

In [31]:
update_value = input("Enter new phone number: ")
condition_value = input("Enter name to update phone number: ")
data = (update_value, condition_value)
sql = cur.execute ("update steudent set phone = %s where name = %s;", data) # Execute a SQL query
my_conn.commit() # Commit the transaction
cur.execute ("select * from steudent ")
results = cur.fetchall() # Fetch all results from the executed query
for row in results:
    print(row)

('Ravi', '9876543210', 'India')
('John', '4567891230', 'USA')
('Sara', '3216549870', 'UK')
('Linda', '6543217890', 'Australia')
('Amit', '123456789', 'Egypt')
('Mike', '00000456', 'Canada')

In [32]:
name_to_delete = input("Enter name to delete record: ")
cur.execute("delete from steudent where name = %s;", (name_to_delete,)) # Execute a SQL query
my_conn.commit() # Commit the transaction
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted successfully.")
else:
    print("No records found to delete.")
cur.execute ("select * from steudent ")
results = cur.fetchall() # Fetch all results from the executed query
for row in results:
    print(row)

1 record(s) deleted successfully.
('Ravi', '9876543210', 'India')
('John', '4567891230', 'USA')
('Sara', '3216549870', 'UK')
('Linda', '6543217890', 'Australia')
('Amit', '123456789', 'Egypt')