# Write the code to answer the following questions

# 0- Imports

In [1]:
# Import neccessary libraries
import pandas as pd
import numpy as np

# 1- Read Salaries.csv as DataFrame & Call it `sal`.

In [2]:
# Read the data
sal = pd.read_csv('C:/Users/Mgama/Ai_Amit_Diploma/Amit_ai_diploma/Assignment/1/Salaries.csv')

# Preview the first 5 rows
print(sal.head(5))

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN

C:\Users\Mgama\AppData\Local\Temp\ipykernel_19736\555434576.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('C:/Users/Mgama/Ai_Amit_Diploma/Amit_ai_diploma/Assignment/1/Salaries.csv')

# 2- Check the head of the DataFrame

In [11]:
# write the answer here
sal.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

# 3- Use the .info() method to find out how many entries there are.

In [12]:
# write the answer here
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# 4- Convert BasePay & OvertimePay columns to numerical columns

In [15]:
# write the answer here
# Hint: you need to google search for this or ask ChatGPT 
# ChatGpt
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
print(sal[['BasePay', 'OvertimePay']].dtypes)

BasePay        float64
OvertimePay    float64
dtype: object

# 5- What is the average BasePay?

In [16]:
# write the answer here
average_basepay = sal['BasePay'].mean()
print("Average BasePay:", average_basepay)

Average BasePay: 66325.4488404877

# 6- What is the highest amount of OvertimePay in the dataset?

In [17]:
# write the answer here
highest_overtime = sal['OvertimePay'].max()
print("Highest OvertimePay:", highest_overtime)

Highest OvertimePay: 245131.88

# 7- What is the job title of  JOSEPH DRISCOLL?

In [18]:
# write the answer here
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# 8- How much does JOSEPH DRISCOLL make (including benefits)?

In [3]:
# write the answer here
total_pay = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
print("Total Pay (including benefits) for JOSEPH DRISCOLL:", total_pay)

Total Pay (including benefits) for JOSEPH DRISCOLL: 270324.91

# 9- What is the name of highest paid person (including benefits)?

In [11]:
# write the answer here
row = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
print(row.T)
highest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
print(highest_paid[['EmployeeName', 'TotalPayBenefits']])

                                                               0
Id                                                             1
EmployeeName                                      NATHANIEL FORD
JobTitle          GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                167411.18
OvertimePay                                                  0.0
OtherPay                                               400184.25
Benefits                                                     NaN
TotalPay                                               567595.43
TotalPayBenefits                                       567595.43
Year                                                        2011
Notes                                                        NaN
Agency                                             San Francisco
Status                                                       NaN
     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

# 10- What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [ ]:
# write the answer here
row = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
print(row.T)

lowest_paid = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
print(lowest_paid[['EmployeeName', 'TotalPayBenefits']])

'''
Joe Lopez likely didnâ€™t  work in 2014. He was probably
a part-time employee who received no base or overtime pay,

'''

                                      148653
Id                                    148654
EmployeeName                       Joe Lopez
JobTitle          Counselor, Log Cabin Ranch
BasePay                                 0.00
OvertimePay                             0.00
OtherPay                             -618.13
Benefits                                0.00
TotalPay                             -618.13
TotalPayBenefits                     -618.13
Year                                    2014
Notes                                    NaN
Agency                         San Francisco
Status                                    PT
       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

# 11- What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [15]:
# write the answer here
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
average_year = sal.groupby('Year')['BasePay'].mean()
print(average_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# 12- How many unique job titles are there?

In [16]:
# write the answer here
unique_job_titles = sal['JobTitle'].nunique()
print("Number of unique job titles:", unique_job_titles)

Number of unique job titles: 2159

# 13- What are the top 5 most common jobs?

In [19]:
# write the answer here
top_common_jobs = sal['JobTitle'].value_counts().head(5)
print("Top 5 most common jobs: ", top_common_jobs)

Top 5 most common jobs:  Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# 14- How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [22]:
jobs_2013 = sal[sal['Year'] == 2013]
job_counts = jobs_2013['JobTitle'].value_counts()
unique_jobs = job_counts[job_counts == 1]
print("Number of unique job titles in 2013:", len(unique_jobs))

Number of unique job titles in 2013: 202

# 15- How many people have the word Chief in their job title? (This is pretty tricky)

In [24]:
job_titles_chief = sal[sal['JobTitle'].str.contains('chief', case=False, na=False)]
print("Number of people with 'Chief' in their job title:", len(job_titles_chief))

print(job_titles_chief['JobTitle'].unique())

Number of people with 'Chief' in their job title: 627
['DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)'
 'ASSISTANT DEPUTY CHIEF II' 'BATTALION CHIEF, (FIRE DEPARTMENT)'
 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)'
 'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)' 'CHIEF OF POLICE'
 'DEPUTY CHIEF III (POLICE DEPARTMENT)'
 'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)'
 'CHIEF ATTORNEY I (CIVIL & CRIMINAL)' 'ASSISTANT CHIEF ATTORNEY II'
 'CHIEF PROBATION OFFICER, JUVENILE COURT' 'CHIEF ADULT PROBATION OFFICER'
 'ASSISTANT CHIEF ATTORNEY I' 'CHIEF DEPUTY SHERIFF'
 'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION'
 "CHIEF DISTRICT ATTORNEY'S INVESTIGATOR" 'CHIEF STATIONARY ENGINEER'
 'CHIEF WATER SERVICE INSPECTOR'
 'CHIEF STATIONARY ENGINEER, WATER TREATMENT PLANT'
 'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN'
 'CHIEF BUILDING INSPECTOR' 'CHIEF PLUMBING INSPECTOR'
 'CHIEF ELECTRICAL INSPECTOR' 'CHIEF STATIONARY ENGINEER, SEWAGE PLANT'
 'CHIEF HOUSING INSPECTOR'
 "ASSISTANT CHIEF DISTRICT ATTORNEY'S INVESTIGATOR" 'CHIEF MICROBIOLOGIST'
 'CHIEF SURVEYOR' 'CHIEF FIRE ALARM DISPATCHER'
 'CHIEF VICTIM/WITNESS INVESTIGATOR'
 'ASSISTANT CHIEF VICTIM/WITNESS INVESTIGATOR' 'CHIEF NURSERY SPECIALIST'
 'CHIEF DIETITIAN' 'CHIEF PAYROLL AND PERSONNEL CLERK' 'CHIEF CLERK'
 'CHIEF DEPUTY ADULT PROBATION OFFICER' 'CHIEF TELEPHONE OPERATOR'
 'CHIEF PREPARATOR' 'Chief of Police' 'Chief, Fire Department'
 'Battlion Chief, Fire Suppressi' 'Assistant Deputy Chief 2'
 'Deputy Chief 3' 'Emergency Medical Svcs Chief'
 'Chief Atty1 (Civil & Criminal)' 'Chief Adult Probation Officer'
 'Assistant Chief Attorney 2' 'Assistant Chief Attorney 1'
 'Chief Deputy Sheriff' 'Chief Stationary Engineer'
 'Chief Water Service Inspector' 'Chief Building Inspector'
 'Chief Plumbing Inspector' 'Chief Electrical Inspector'
 'Chief Housing Inspector' 'Chief Dep Adlt Prob Of (SFERS)'
 'Chief Fire Alarm Dispatcher' 'Chief Surveyor' 'Chief Nursery Specialist'
 'Chief Dietitian' 'Chief Clerk' 'Chief Preparator'
 'Chief Telephone Operator' 'Chief Deputy Adlt Probation Of'
 'Battalion Chief, Fire Suppress' 'Chief Investment Officer'
 'Chief Forensic Toxicologist']

# 16- Bonus: Is there a correlation between length of the Job Title string and Salary?

In [59]:
# write the answer here

# Great Job!